In [0]:
# import azureml.dataprep as dprep
import pandas as pd
import numpy as np
import matplotlib as plt
%magic inline
# dataset_root = "https://mltest8535517255.blob.core.windows.net/tenxun/test_a"

# total_Exposure_Log_path = "/".join([dataset_root,"totalExposureLog.csv"])
# user_data_path = "/".join([dataset_root, "user_data.csv"])
# ad_operation_path = "/".join([dataset_root, "ad_operation.csv"])
# ad_static_feature_path = "/".join([dataset_root, "ad_static_feature.csv"])
# test_sample_path = "/".join([dataset_root, "test_sample.csv"])

# total_Exposure_Log_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/totalExposureLog.csv?sp=r&st=2019-04-30T16:01:43Z&se=2019-05-16T00:01:43Z&spr=https&sv=2018-03-28&sig=heGUf135IcugHV11B7ZsY2%2BwwHipMbryyV7EVDzPTL8%3D&sr=b'
user_data_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/user_data.csv?sp=r&st=2019-04-30T16:01:13Z&se=2019-05-16T00:01:13Z&spr=https&sv=2018-03-28&sig=0u50xAwvE4Xh9%2FfvkMnLDKDDuZxU1PuHYzSHGExSZk8%3D&sr=b'
ad_operation_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/ad_operation.csv?sp=r&st=2019-04-30T15:56:43Z&se=2019-05-15T23:56:43Z&spr=https&sv=2018-03-28&sig=%2F58qmlj%2BRXSncTcMqI%2Bk9iIgIjWTy29Xa1PRXzkVUcE%3D&sr=b'
ad_static_feature_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/ad_static_feature.csv?sp=r&st=2019-04-30T15:57:55Z&se=2019-05-15T23:57:55Z&spr=https&sv=2018-03-28&sig=LOYvgwdPxCbfljGqJSoWpKS0JK0w%2BTg5nhv26v1me7U%3D&sr=b'
test_sample_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/test_sample.csv?sp=r&st=2019-04-30T16:00:28Z&se=2019-05-16T00:00:28Z&spr=https&sv=2018-03-28&sig=1jmDaOQ5zxyOGLqdE42GF7EBUY6qxuNjTRe%2F57tN8v4%3D&sr=b'

# total_Exposure_Log = pd.read_csv(total_Exposure_Log_path,sep='\t',names=['ad_request_id','ad_request_time','ad_space_id','user_id','exposure_ad_id',
#                                                                          'exposure_ad_size','bid','pctr',' quality_ecpm','total_Ecpm'])
# user_data = pd.read_csv(user_data_path,sep='\t',names=['user_id','age','gender','area','status','edu','ConAbility',
#                                                        'device','work','CType','behhavior'])
ad_operation = pd.read_csv(ad_operation_path,sep='\t',names=['ad_id','Change_time','Operation_type',
                                                             'Modify_field','value_after_operation'])
ad_static_feature = pd.read_csv(ad_static_feature_path,sep='\t',names=['ad_id','Creation_time','ad_account_id','Product_id',
                                                                       'Product_Types','ad_industry_id','Material_size'])
test_sample = pd.read_csv(test_sample_path,sep='\t',names=['Sample_id','ad_id','Creation_time','Material_size','ad_industry_id','Product_Types',
                                                           'Product_id','ad_account_id','Delivery_period','Crowd_orientation','bid'])

# total_Exposure_Log.head()
# user_data.head()
# ad_operation.head()
# ad_static_feature.head()
# test_sample.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
ad_operation.head()

In [0]:
ad_static_feature.head()

In [0]:
test_sample.head()

In [0]:
def get_df1(file):
    mydata1 = []
    for chunk in pd.read_csv(file,chunksize=500000,header = None,parse_dates=['1'],infer_datetime_format=True,dtype = {'0':'uint16','1':'int64','2':'uint16','3':'uint16','4':'uint16','5':'uint16','6':'uint16','7':'float32','8':'float32','9':'float32'},sep='\t'):
        mydata1.append(chunk)
    total_Exposure_Log = pd.concat(mydata1,axis=0)
    names1 = ['ad_request_id','ad_request_time','ad_space_id','user_id','exposure_ad_id','exposure_ad_size','bid','pctr',' quality_ecpm','total_Ecpm']
    total_Exposure_Log.columns = names1
    return total_Exposure_Log

def get_df2(file):
    mydata2 = []
    for chunk in pd.read_csv(file,chunksize=500000,header = None,sep='\t'):
        mydata2.append(chunk)
    user_data = pd.concat(mydata2,axis=0)
    names2=['user_id','age','gender','area','status','edu','ConAbility','device','work','CType','behhavior']
    user_data.columns = names2
    return user_data


# TextFileReader = pd.read_csv(path, chunksize=1000)

# dfList = []
# for df in TextFileReader:
#     dfList.append(df)

# df = pd.concat(dfList,sort=False)

In [0]:
user_data_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/user_data.csv?sp=r&st=2019-04-27T04:32:26Z&se=2019-04-30T12:32:26Z&spr=https&sv=2018-03-28&sig=T%2FX9M%2BX%2FwYI4w3hc6daYsOQNOD9KzZg9YKUyWLkpxaA%3D&sr=b'

user_data = get_df2(user_data_path)
user_data.head()

In [0]:
user_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396718 entries, 0 to 1396717
Data columns (total 11 columns):
user_id       1396718 non-null int64
age           1396718 non-null int64
gender        1396718 non-null int64
area          1396718 non-null object
status        1396718 non-null object
edu           1396718 non-null int64
ConAbility    1396718 non-null int64
device        1396718 non-null int64
work          1396718 non-null object
CType         1396718 non-null int64
behhavior     1396718 non-null object
dtypes: int64(7), object(4)
memory usage: 3.6 GB

In [0]:
for dtype in ['int','object']:
    selected_dtype = user_data.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for int columns: 9.32 MB
Average memory usage for object columns: 732.39 MB

In [0]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

gl_int = user_data.select_dtypes(include=['int'])
converted_int = gl_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(gl_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([gl_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

74.59 MB
14.65 MB

        before  after
uint8      NaN    5.0
uint16     NaN    1.0
uint32     NaN    1.0
int64      7.0    NaN

In [0]:
# 对浮点型列进行相应处理

# gl_float = gl.select_dtypes(include=['float'])
# converted_float = gl_float.apply(pd.to_numeric,downcast='float')

# print(mem_usage(gl_float))
# print(mem_usage(converted_float))

# compare_floats = pd.concat([gl_float.dtypes,converted_float.dtypes],axis=1)
# compare_floats.columns = ['before','after']
# compare_floats.apply(pd.Series.value_counts)

In [0]:
# user_data["area_new","area_drop"]=user_data["area"].str.split(",",n = 1,expand = True)
# user_data.drop(['area','area_drop'],axis=1,inplace=True)

# aera = pd.DataFrame()
# area = user_data["area"].str.split(",",n = 1,expand = True)
# area.columns = ['area_new','area_drop']
# user_data = pd.concat(user_data,area)

# user_data.rename(columns=new_names, inplace=True)
# user_data.drop(['area','area_drop'],axis=1,inplace=True)

# # user_data.to_csv("C:/Users/Administrator/Desktop/New Microsoft Excel 工作表.csv",index=False)
# user_data["status_new"],user_data["status_drop"]=user_data["status"].str.split(",",n = 1,expand = True)
# user_data.drop(['status','status_drop'],axis=1,inplace=True)

# user_data["work_new"],user_data["work_drop"]=user_data["work"].str.split(",",n = 1,expand = True)
# user_data.drop(['work','work_drop'],axis=1,inplace=True)

# user_data["behhavior_new_1"],user_data["behhavior_new_2"],user_data["behhavior_new_3"],user_data["behhavior_drop"]=user_data["behhavior"].str.split(",",n = 3,expand = True)
# user_data.drop(['behhavior','behhavior_drop'],axis=1,inplace=True)

In [0]:
user_data.head()

,user_id,age,gender,status,edu,ConAbility,device,work,CType,behhavior,area_new
0,624218,753,2,0,6,1,2,0,4,"32612,34406,3413,33059,4275,4667,4561,34051,42...",0
1,271475,601,3,13,7,2,2,0,2,"4990,4992,3413,33061,4115,4876,2393,34167,3441...",0
2,44439,819,3,13,7,3,2,4,4,"3099,4403,34414,431,34415,5108,31686,3240,3229...",0
3,863717,1,2,6,5,3,2,0,2,"34293,845,3413,3099,33061,33059,4120,4410,4415...",0
4,1305469,714,3,13,5,3,2,0,2,"32612,34289,34406,3413,4275,4410,4561,34051,34...",0

In [0]:
# 用类别（categoricalas）类型优化object类型

converted_obj = pd.DataFrame()

for col in user_data.columns:
    num_unique_values = len(user_data[col].unique())
    num_total_values = len(user_data[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = user_data[col].astype('category')
    else:
        converted_obj.loc[:,col] = user_data[col]
        
print(mem_usage(user_data))
print(mem_usage(converted_obj))

compare_obj = pd.concat([user_data.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

In [0]:
optimized_gl = pd.DataFrame()
optimized_gl[converted_obj.columns] = converted_obj

mem_usage(optimized_gl)

In [0]:
# 在数据读入的时候设定数据类型,减少现有dataframe的内存占用

# dtypes = optimized_gl.drop('date',axis=1).dtypes
dtypes = optimized_gl.dtypes
dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

# rather than print all 161 items, we'll
# sample 10 key/value pairs from the dict
# and print it nicely using prettyprint

preview = first2pairs = {key:value for key,value in list(column_types.items())[:10]}
import pprint
pp = pp = pprint.PrettyPrinter(indent=4)
pp.pprint(preview)

In [0]:
# 传入一些处理日期的参数，让日期以正确的格式读入

# ead_and_optimized = pd.read_csv('game_logs.csv',dtype=column_types,parse_dates=['date'],infer_datetime_format=True)

# print(mem_usage(read_and_optimized))
# read_and_optimized.head()

In [0]:
# total_Exposure_Log_path = 'https://mltest8535517255.blob.core.windows.net/tenxun/test_a/totalExposureLog.csv?sp=r&st=2019-04-27T06:05:26Z&se=2019-04-30T14:05:26Z&spr=https&sv=2018-03-28&sig=y7cl9z2mC61znw8M%2FpsYti%2FcR0BniruRkImzpUUQzd0%3D&sr=b'
# total_Exposure_Log = get_df1(total_Exposure_Log_path)
# total_Exposure_Log.head()

# total_Exposure_Log = pd.read_csv(total_Exposure_Log_path,sep='\t',names=['ad_request_id','ad_request_time','ad_space_id','user_id','exposure_ad_id',
#                                                                          'exposure_ad_size','bid','pctr',' quality_ecpm','total_Ecpm'])
# user_data = pd.read_csv(user_data_path,sep='\t',names=['user_id','age','gender','area','status','edu','ConAbility',
#                                                        'device','work','CType','behhavior'])